.footer {
    background-color: #191733;
    display: flex;
    color: white;
    font-family: 'Roboto Mono', sans-serif;
    margin-bottom: 10px;
    font-size: 1.5em;
}

button:not(:disabled):hover{
    background-color: darkslateblue;
    cursor: pointer;
    font-weight: bold;
}

.select-algo > button:not(:disabled):hover {
    font-weight: normal;
}

button:disabled {
    opacity: 70%;
}

.footer-flex {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-flex-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
    margin-bottom: 1%;
}

.footer-flex-item2 {
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    align-items: center;
}

/* define property for child of footer-flex-item */
.footer-flex-item > * {
    margin-right: 3%;
    white-space: nowrap;
}

.gen-array p:hover {
    color: white;
    font-style: italic;
}

.set-speed, .set-length {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.set-speed > p, .set-length > p {
    margin-right: 7%;
}

.select-algo {
    display: flex;
    width: max-content;
}
.select-algo > p {
    margin-top: 0.2em;
    margin-right: 1%;
    text-align: center;
}
.select-algo > button {
    background: #272354;
    color: white;
    margin-left: 2.5%;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 0.8em;
    box-shadow: 2px 2px rgb(1, 1, 1);
    width: fit-content;
}

.highlight-algo, .highlight-algo:hover {
    font-weight: bold !important;
    background-color: #9797ff !important;
    cursor: default !important;
    text-shadow: 1px 1px black;
}

.big-button {
    font-family: 'Roboto Mono', sans-serif;
    background-color: #272354;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5%;
    font-size: 0.8em;
}
/* RANGE SLIDER - credit: https://www.w3schools.com/howto/howto_js_rangeslider.asp */

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 5px; /* Specified height */
    background: #dbddff; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.9; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #3a32b7;
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #38289f;
    cursor: pointer; /* Cursor on hover */
}
