.header {
    background-color: darkslateblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: calc(10px + 2vmin);
    height: 15%;
    box-shadow: 2px 2px black;
    z-index: 1;
}

h1 {
    font-family: 'Homemade Apple', cursive;
    text-shadow: 2px 2px black;
}